<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>MapVisualizer</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
<body>
<form action="{% url 'home' %}" method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />

</form>
<p style="color: red;">{{ errors }}</p>
<div id="map"></div>
<script>

      // This example displays a marker at the center of Australia.
      // When the user clicks the marker, an info window opens.

      function initMap() {
	var cntr = {lat: 0, lng: 0};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: cntr
        });

        {{ js|safe }}
	}
    </script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwoIw_tYsw53w8IftZukNq6ZJC5TBjM8w&callback=initMap">
    </script>
</body>
</html>